oj-player-card:not(.oj-complete){
  visibility: hidden;
}

.player-card{
  box-sizing: border-box;
  width: 1374px;
  height: 108px;
  padding-left: 1rem;
  padding-right: 1rem;
  padding-top: 1rem;
  padding-bottom: 1rem;
}


.oracle-sans-font{
  font-family: 'Oracle Sans';
  font-style: normal;
}

