<div id="dashboard-main-div" class="oj-flex oj-hybrid-padding" style="display: block; height:fit-content;">
  <div class="oj-flex ">
    <div class="oj-flex oj-sm-12 about-cricket oj-sm-padding-10x-bottom">
      <div class="oj-flex-item oj-sm-4 col-one">
          <h1 class="about-header about-cricket-header">Cricket</h1>
      </div>
      <div class="oj-flex-item oj-sm-8 col-two">
          <p class="describe">
            Wikipedia defines Cricket as a <i>'bat-and-ball'</i> game that is played between two teams of eleven players. 
            Funnily, it is a <i>bat-vs-ball</i> game in its essence, isn't it?
            Batsmen look to hit the ball and run, Bowlers look to hit the wickets.
            <i>The English Elite</i> that created the game in the 16th century made it that - <i>for the Elite</i>.
            And it remained a sport for the elite for centuries. Then the English decided to play it in the Commonwealth nations, 
            where it grew as a 'Sport played to beat the <i>"cruel British,"</i> at their own game'.
            Lo and behold, a couple of centuries later, we are playing a sport where the 
            batsmen look to hit the ball outside the ropes and Bowlers look to evade the hitting range.
          </p>
          <p class="describe">
            T20 Cricket. 
          </p>
      </div>                       
      
    </div>

    <div class="oj-flex oj-sm-12 about-numbers-cricket oj-sm-padding-10x-bottom">
      <div class="oj-flex-item oj-sm-4 col-three">
          <h1 class="about-header about-numbers-header">Numbers in Cricket</h1>
      </div>
      <div class="oj-flex-item oj-sm-8 col-four">
          <p class="describe">

          </p>
      </div>                       
      
    </div>
  </div>

  <oj-st-scroll-to-top></oj-st-scroll-to-top>
</div>  

<!-- page not available dialog when all services are down -->
<oj-dialog id="page-na-dialog" dialog-title="Page Not Available">
  <div id="na-dialog-header-div" class="oj-flex-bar cpf-dialog-title" slot="header">
    <div id="na-error-icon-div"
         class="oj-flex-bar-start oj-sm-align-self-center oj-icon-color-danger oj-ux-ico-error-s oj-ux-icon-size-6x"
         role="img"
         aria-label="error">
    </div>
    <div id="na-error-msg-div" class="oj-flex-bar-middle">
        <oj-bind-text value="{{errorPageTitle}}"></oj-bind-text>
    </div>
  </div>

  <div id="na-dialog-body-div" slot="body">
      <oj-bind-text value="{{errorPageMsg}}"></oj-bind-text>
    </div>
  <div id="na-dialog-footer-div" slot="footer">
    <oj-button id="reload-button" on-oj-action="[[reloadPage]]">
      Reload
    </oj-button>
  </div>
</oj-dialog>

<div id="dashboard-loader-div" style="background-color: antiquewhite;display: block;">
</div>