<div id="dashboard-main-div" class="oj-flex oj-hybrid-padding" style="display: block; height:fit-content;">
  
  <oj-st-scroll-to-top></oj-st-scroll-to-top>
</div>  

<!-- page not available dialog when all services are down -->
<oj-dialog id="page-na-dialog" dialog-title="Page Not Available">
  <div id="na-dialog-header-div" class="oj-flex-bar cpf-dialog-title" slot="header">
    <div id="na-error-icon-div"
         class="oj-flex-bar-start oj-sm-align-self-center oj-icon-color-danger oj-ux-ico-error-s oj-ux-icon-size-6x"
         role="img"
         aria-label="error">
    </div>
    <div id="na-error-msg-div" class="oj-flex-bar-middle">
        <oj-bind-text value="{{errorPageTitle}}"></oj-bind-text>
    </div>
  </div>

  <div id="na-dialog-body-div" slot="body">
      <oj-bind-text value="{{errorPageMsg}}"></oj-bind-text>
    </div>
  <div id="na-dialog-footer-div" slot="footer">
    <oj-button id="reload-button" on-oj-action="[[reloadPage]]">
      Reload
    </oj-button>
  </div>
</oj-dialog>

<div id="dashboard-loader-div" style="background-color: antiquewhite;display: block;">
</div>