<div class="oj-sm-padding-5x-start">
    <div class="oj-flex-bar oj-sm-padding-1x-start oj-sm-margin-5x-bottom">
        <div class="oj-flex-bar-start oj-sm-align-items-center">
            <oj-button display="all" on-oj-action="[[goBackToMatchesPage]]">
                <span slot="startIcon" class="oj-ux-ico-arrow-left-alt"></span>
                Back
            </oj-button>
        </div>
        <div class="oj-flex-item oj-flex-bar-middle oj-sm-align-items-center  oj-sm-flex-direction-column">
            <h5><oj-bind-text value=[[currentMatchName]]></oj-bind-text> </h5>
        </div>
        <div class="oj-flex-bar-end oj-sm-padding-4x-end">
            <oj-tab-bar selection="{{matchDetailsDialogSelectedTab}}" data="[[matchDetailsDialogTabsDP]]"
                        edge="top" display="all" layout="condense">
                <template slot="itemTemplate" data-oj-as="item">
                    <li> <a href="#">
                        <span :class="[['oj-tabbar-item-icon ' + item.data.icons]]"></span>
                        <oj-bind-text value="[[item.data.name]]"></oj-bind-text>
                    </a> </li>
                </template>
            </oj-tab-bar>
        </div>
    </div>

    <oj-bind-if test="[[matchDetailsDialogSelectedTab() === 'scorecard']]">
        <div class="oj-flex">

            <div class="oj-flex-item oj-sm-4">
                <oj-form-layout direction="column">
                    <div class="oj-flex">
                        <div id="matchFacts-div">
                            <oj-collapsible id="matchFacts-collapsible" expanded="true" disabled="true">
                                <span slot='header'>
                                    <h6>Match Facts</h6>
                                </span>
                                <div class="oj-sm-padding-5x-start"> 
                                    <p><b>Match:</b> <oj-bind-text value="[[currentMatchInfo().name]]"></oj-bind-text></p>
                                    <p><b>Date:</b> <oj-bind-text value="[[currentMatchDate]]"></oj-bind-text></p>
                                    <p><b>Venue:</b> <oj-bind-text value="[[currentMatchInfo().venue]]"></oj-bind-text></p>
                                    <p><b>Toss:</b> 
                                        <oj-bind-text value="[[currentMatchInfo().tossWonTeam.displayName]]"></oj-bind-text>
                                        <oj-bind-text value=" won the toss and chose to "></oj-bind-text>
                                        <oj-bind-text value="[[currentMatchInfo().tossWinnerChoice]]"></oj-bind-text>
                                    </p>
                                    <oj-bind-if test="[[currentMatchInfo().matchOutcome.winner]]">
                                      <p><b>Result:</b>
                                        <oj-bind-text value="[[currentMatchInfo().matchOutcome.winner.displayName]]"></oj-bind-text>
                                        <oj-bind-text value=" "></oj-bind-text>
                                        <oj-bind-text value="[[currentMatchInfo().matchOutcome.outcome.replace('Win', 'won')]]"></oj-bind-text>
                                      </p>
                                    </oj-bind-if>
                                    <oj-bind-if test="[[currentMatchInfo().matchOutcome.manOfTheMatch]]">
                                      <p><b>Man of the Match:</b>
                                        <oj-bind-text value="[[currentMatchInfo().matchOutcome.manOfTheMatch.commonName]]"></oj-bind-text>
                                      </p>
                                    </oj-bind-if>
                                    <oj-bind-if test="[[!currentMatchInfo().matchOutcome.winner]]">
                                      <p><b>Outcome:</b>
                                        <oj-bind-text value="[[currentMatchInfo().matchOutcome.outcome.toUpperCase()]]"></oj-bind-text>
                                      </p>
                                    </oj-bind-if>
                                </div>
                            </oj-collapsible> 
                        </div>
                    </div>
                    <div class="oj-flex">
                        <div id="playing11s-div">
                            <oj-collapsible id="playing11s-collapsible" expanded="true" disabled="true">
                                <span slot='header'>
                                    <h6>Playing 11</h6>
                                </span>
                                <div class="oj-sm-padding-5x-start"> 
                                    <div class="oj-panel  oj-panel-shadow-lg">
                                        <p>
                                            <i><b><oj-bind-text value="[[currTeam1]]"></oj-bind-text></b></i>
                                            <div data-bind="html: currPlaying111Para"></div>
                                        </p>
                                    </div>
                                    <br>
                                    <div class="oj-panel  oj-panel-shadow-lg">
                                        <p>
                                         <i><b><oj-bind-text value="[[currTeam2]]"></oj-bind-text></b></i>
                                         <div data-bind="html: currPlaying112Para"></div>
                                        </p>
                                    </div>
                                </div>
                            </oj-collapsible> 
                        </div>
                    </div>
                </oj-form-layout>
            </div>
            <div class="oj-flex-item oj-sm-8">
                <oj-collapsible id="scorecards-collapsible" expanded="true"  disabled="true">
                  <span slot='header'>
                    <h6>Scorecard</h6>
                  </span>
                  <oj-c-list-view id="innings-list" class="oj-sm-padding-2x-vertical"
                                data="[[currInningsDP]]"
                                gridlines.item="visible">
                    <template slot="itemTemplate" data-oj-as="item">
                      <li>
                        <!-- each item is one innings.  data-bind="style:{background: item.data.primaryColor}" -->
                        <oj-c-list-item-layout> 
                          <div data-bind="style:{background: item.data.color}"> 
                          <div class="scores-header oj-sm-padding-2x-horizontal oj-flex oj-sm-12 oj-flex-bar oj-sm-align-items-center">
                            <div class="oj-sm-4 oj-flex-bar-start">
                              <oj-bind-text value="[[item.data.teamName]]"></oj-bind-text>
    
                            </div>
                            <div class="oj-sm-2 oj-flex-bar-end">
                              <oj-bind-text value="[[item.data.score]]"></oj-bind-text>
                            </div>
                          </div>
                          <oj-table data="[[item.data.battersDP]]"
                                    columns="{{battingScorecardsTableColumns}}"
                                    class="oj-sm-padding-1x oj-sm-12"
                                    columns-default.sortable="disabled"
                                    columns-default.header-style="background-color: lightgray; border-radius: 0px;">
                            
                                <template slot="batterHeadingTemplate" data-oj-as="cell">
                                    <span class="oj-flex">
                                        <img src="css/images/bat.png" width="22"
                                                        height="24"/>
                                        <p>&nbsp;batter</p>
                                    </span>
                                </template>
                                <template slot="batterNameTemplate" data-oj-as="cell">
                                  <span class="oj-flex">
                                    <oj-bind-text value="[[cell.data]]"></oj-bind-text>
                                  </span>
                              </template>
                          </oj-table>
                          <br>
                          <oj-table data="[[item.data.bowlersDP]]"
                                    columns="{{bowlingScorecardsTableColumns}}"
                                    class="oj-sm-padding-1x oj-sm-12"
                                    columns-default.sortable="disabled"
                                    columns-default.header-style="background-color: lightgray; border-radius: 0px;">
                                <template slot="bowlerHeadingTemplate" data-oj-as="cell">
                                    <span class="oj-flex">
                                        <img src="css/images/ball.png" width="22"
                                                        height="22"/>
                                        <p>&#160;bowler</p>
                                    </span>
                                </template>
                          </oj-table>

                        </div>
                        </oj-c-list-item-layout>
                        <br>
                      </li>
                    </template>            
                    <template slot="noData">
                      <div class="oj-flex oj-sm-flex-direction-column oj-sm-width-full">
                        <span class="oj-sm-padding-2x oj-typography-body-xl">Scores unavailable for this match.</span>
                    
                      </div>
                    </template>
                  </oj-c-list-view>
                </oj-collapsible>
            </div> 
        </div>
    </oj-bind-if>
    

    <oj-bind-if test="[[matchDetailsDialogSelectedTab() === 'visualize']]">

      <div class="oj-flex-bar oj-sm-12 oj-sm-padding-5x-horizontal oj-sm-padding-3x-top "> 
        <div class=" oj-flex-bar-start">
          <h6><oj-bind-text value="[[selectedInningsTitle]]"></oj-bind-text></h6>
        </div> 
        <div class="oj-flex-bar-end">
          <oj-buttonset-one id="innings-set" value="{{selectedInnings}}">
          <oj-bind-for-each data="[[inningsSelectionOptions]]">
            <template>
              <oj-option value="[[$current.data.id]]">
                <span>
                  <oj-bind-text value="[[$current.data.label]]"></oj-bind-text>
                </span>
              </oj-option>
            </template>
          </oj-bind-for-each>
          </oj-buttonset-one>
        </div>
      </div> 

      <div class="oj-flex">
        <div class="oj-flex-item oj-sm-4">
            <oj-accordion>
                <oj-collapsible expanded="true" disabled="true">
                    <h3 slot="header">Select a chart</h3>
                    <div>
                        <oj-radioset value="{{selectedChartOption}}" labelled-by="mainlabelid">
                            <oj-label>Batting</oj-label>
                            <oj-option value="bat-contribs">Runs Scored by Batters</oj-option>
                            <oj-option value="bat-impact-scores">Batsmen Impact Score</oj-option>
                            <oj-option value="scoring-methods">Run-scoring methods</oj-option>
                            <oj-label>Bowling</oj-label>
                            <oj-option value="bowl-economies">Economies of Bowlers</oj-option>
                        </oj-radioset>
                    </div>
                </oj-collapsible>
            </oj-accordion>
        </div>
        <div class="oj-flex-item oj-sm-8">

            <oj-bind-if test="[[selectedChartOption() === 'bat-contribs']]"> 
                <div class="oj-panel oj-sm-8"> 
                    <div class="chart-title">Runs Scored by Batters</div>
                    <oj-chart class="scores-chart" type="pie" data="[[batScoreContribsDP]]" 
                              legend.position="end" 
                              animation-on-display="auto"
                              style-defaults.three-d-effect="on"
                              hover-behavior="dim">
                      <template slot="itemTemplate" data-oj-as="item">
                        <oj-chart-item value="[[item.data.runs]]" 
                                      group-id="[[ [item.data.group] ]]"
                                      series-id="[[item.data.name]]"
                                      color="[[item.data.colour]]">
                        </oj-chart-item>
                      </template>
                      <!-- <template slot='seriesTemplate'>
                        <oj-chart-series color="[[$current.colour]]"
                                         name="[[$current.name]]">
                        </oj-chart-series>
                      </template> -->
                      <template slot="tooltipTemplate">
                        <div class="oj-flex">
                          <div class="oj-flex-item">
                            <span><b><oj-bind-text value="[[$current.itemData.name]]"></oj-bind-text></b></span>
                            <br />
                            <span><oj-bind-text value="[['Runs: '+ $current.itemData.runsAndBalls]]"></oj-bind-text></span>
                          </div>
                        </div>
                      </template>
                    </oj-chart>
                </div>
            </oj-bind-if>

            <oj-bind-if test="[[selectedChartOption() === 'bat-impact-scores']]"> 
                <div class="oj-panel oj-sm-8"> 
                    <div class="chart-title oj-sm-margin-5x-bottom">Batsmen Impact Score</div>
                      <oj-treemap class="scores-tree  oj-sm-margin-5x" 
                                data="[[batImpactsDP]]"
                                animation-on-display="auto"
                                animation-on-data-change="auto"
                                hover-behavior="dim"
                                highlight-mode="descendants">
                            <template slot="nodeTemplate">
                              <oj-treemap-node label="[[$current.data.name]]"
                                      value="[[$current.data.score]]"
                                      color="[[$current.data.colour]]">
                              </oj-treemap-node>
                            </template>
                            <template slot="tooltipTemplate">
                              <div class="oj-flex">
                                <div class="oj-flex-item">
                                  <span><b><oj-bind-text value="[[$current.itemData.name]]"></oj-bind-text></b></span>
                                  <br />
                                  <span><oj-bind-text value="[['Runs: '+ $current.itemData.runsAndBalls]]"></oj-bind-text></span>
                                  <br />
                                  <span><i><oj-bind-text value="[['Imp Score: '+ $current.itemData.score]]"></oj-bind-text></i></span>
                                </div>
                              </div>
                            </template>
                      </oj-treemap>
                </div>
            </oj-bind-if>

            <oj-bind-if test="[[selectedChartOption() === 'scoring-methods']]"> 
                <div class="oj-panel oj-sm-8">
                    <div class="chart-title">Run-scoring methods</div>
                    <oj-chart class="scores-chart" type="pie" data="[[runsScoredMethodsDP]]" 
                              legend.position="bottom" 
                              animation-on-display="auto"
                              style-defaults.pie-inner-radius="0.4"
                              pie-center.label="Run Scoring"
                              hover-behavior="dim">
                      <template slot="itemTemplate" data-oj-as="item">
                        <oj-chart-item value="[[item.data.runs]]" 
                                      group-id="[[ [item.data.group] ]]"
                                      series-id="[[item.data.method]]"
                                      color="[[item.data.colour]]">
                        </oj-chart-item>
                      </template>
                      <template slot="tooltipTemplate">
                        <div class="oj-flex">
                          <div class="oj-flex-item">
                            <span><b><oj-bind-text value="[[$current.itemData.method]]"></oj-bind-text></b></span>
                            <br />
                            <span><oj-bind-text value="[['Runs Scored: '+ $current.itemData.runs]]"></oj-bind-text></span>
                          </div>
                        </div>
                      </template>
                    </oj-chart>
                </div>
            </oj-bind-if>

            <oj-bind-if test="[[selectedChartOption() === 'bowl-economies']]"> 
                <div class="oj-panel oj-sm-8"> 
                    <div class="chart-title">Economies of Bowlers</div>
                    <oj-chart class="scores-chart" type="bar"
                            orientation="vertical"
                            stack="off"
                            data="[[bowlerEconomiesDP]]"
                            animation-on-display="auto"
                            animation-on-data-change="auto"
                            hover-behavior="dim"
                            style-defaults.max-bar-width="56">
                        <template slot="itemTemplate" data-oj-as="item">
                              <oj-chart-item value="[[item.data.economy]]"
                                            group-id="[[ [item.data.group] ]]"
                                            series-id="[[item.data.name]]"
                                            color="[[item.data.colour]]">
                              </oj-chart-item>
                        </template>
                        <template slot="tooltipTemplate">
                          <div class="oj-flex">
                            <div class="oj-flex-item">
                              <span><b><oj-bind-text value="[['Bowler: '+ $current.itemData.name]]"></oj-bind-text></b></span>
                              <br />
                              <span><oj-bind-text value="[[$current.itemData.desc]]"></oj-bind-text></span>
                            </div>
                          </div>
                        </template>
                    </oj-chart>
                </div>
            </oj-bind-if>

        </div>

      </div>




 



    </oj-bind-if>

    <oj-st-scroll-to-top></oj-st-scroll-to-top>

</div>
    
