<div id="matches-main-div" class="oj-flex oj-hybrid-padding" style="display: block; height:fit-content;">


  <div id="matches-div" class="oj-flex oj-flex-bar">  
    <div id="matches-heaing-div" class="oj-sm-3 oj-flex-bar-start">
      <h2 class="oj-sm-padding-5x-start tab-header">Matches</h2>
    </div>

    <div id="leagues-seasons-div" class="oj-sm-2 oj-flex-bar-end">
      <oj-select-single data="[[seasonListDP]]" 
                          item-text="value" 
                          label-hint="Season"
                          value="{{selectedSeasonVal}}"
                          on-value-changed="[[onSeasonSelectionChange]]">
      </oj-select-single>
    </div>

  </div>

  <div id="leagues-div" class="oj-flex oj-sm-4 oj-flex-bar">
    <oj-select-single data="[[leagueEventsListDP]]" 
                        item-text="league" 
                        label-hint="League"
                        value="{{selectedLeagueEventVal}}"
                        on-value-changed="[[onLeagueEventSelectionChange]]">
    </oj-select-single>
  </div>





</div>
