<div id="matches-main-div" class="oj-flex oj-hybrid-padding" style="display: block; height:fit-content;">


  <div id="matches-div" class="oj-flex oj-flex-bar">  
    <div id="matches-heaing-div" class="oj-sm-3 oj-flex-bar-start">
      <h2 class="oj-sm-padding-5x-start tab-header">Matches</h2>
    </div>

    <div id="leagues-seasons-div" class="oj-sm-2 oj-flex-bar-end">
      <oj-select-single data="[[seasonListDP]]" 
                        item-text="value" 
                        label-hint="Season"
                        value="[[selectedSeasonVal]]"
                        on-value-changed="[[onSeasonSelectionChange]]">
      </oj-select-single>
    </div>

  </div>

  <div id="leagues-div" class="oj-flex oj-sm-4 oj-flex-bar">
    <oj-select-single data="[[leagueEventsListDP]]" 
                      item-text="name" 
                      label-hint="League"
                      value="[[selectedLeagueEventVal]]"
                      on-value-changed="[[onLeagueEventSelectionChange]]">
    </oj-select-single>
    <h6><oj-bind-text value="[[selectedLeagueEventVal.name]]"></oj-bind-text></h6>

    </h3>
  </div>

  <div id="matches-table-div" class="oj-flex oj-sm-12">
    <oj-table id="matches-table"
              data="[[matchesListDP]]"
              layout="fixed"
              dnd='{"reorder": {"columns": "enabled"}}'
              columns="{{matchesTableColumns}}"
              class="oj-sm-padding-3x">
              <template id="actionsTemplate" slot="actionsTemplate" data-oj-as="cell">
                <div class="oj-flex-item oj-sm-align-self-center">
                    <oj-toolbar>
                      <oj-c-button class="oj-button-sm"
                                 display='icons'
                                 chroming="borderless"
                                 on-oj-action="[[onOpenMatchDetailsClick]]">
                          <span class="oj-ux-ico-information" slot='startIcon'></span>
                              Details 
                      </oj-c-button>
                    </oj-toolbar>    
                </div>
              </template>
              <template slot="noData">
                <div class="oj-flex oj-sm-flex-direction-column oj-sm-width-full">
                  <span class="oj-sm-padding-2x oj-typography-body-xl">No League/Season Selected.</span>
                  
                </div>
              </template>
    </oj-table>
  </div>

  <div id="details-dialog-div">
    <oj-dialog id="details-dialog" dialog-title="Match Details" cancel-behavior="icon">
      <div slot="body">
        <div id="playing11s-div">
          <oj-collapsible id="playing11s-collapsible" expanded="true">
            <span slot='header'>
               <h6>Playing 11</h6>
            </span>
            <div class="oj-sm-padding-5x-start"> 
              <p>
                <b><oj-bind-text value="[[currTeam1]]"></oj-bind-text></b>
                <oj-bind-text value="[[currPlaying111Para]]"></oj-bind-text>
              </p>
              <p>
                <b><oj-bind-text value="[[currTeam2]]"></oj-bind-text></b>
                <oj-bind-text value="[[currPlaying112Para]]"></oj-bind-text>
              </p>
            </div>
          </oj-collapsible>
          
        </div>
        <div id="scorecards-div" class="oj-flex oj-sm-12">
            <oj-collapsible id="scorecards-collapsible" expanded="true">
              <span slot='header'>
                <h6>Scorecard</h6>
              </span>
              <oj-c-list-view id="innings-list" class="oj-sm-padding-2x-vertical"
                            data="[[currInningsDP]]"
                            gridlines.item="hidden">
                <template slot="itemTemplate" data-oj-as="item">
                  <li>
                    <!-- each item is one innings -->
                    <oj-c-list-item-layout> 
                      <div id="innings-heading-div" class="oj-sm-padding-2x-horizontal oj-flex oj-sm-12 oj-flex-bar  scores-header oj-sm-align-items-center">
                        <div class="oj-sm-4 oj-flex-bar-start">
                          <oj-bind-text value="[[item.data.name]]"></oj-bind-text>

                        </div>
                        <div class="oj-sm-2 oj-flex-bar-end">
                          <p><oj-bind-text value="[[item.data.score]]"></oj-bind-text></p>
                        </div>
                      </div>
                      <oj-table data="[[item.data.battersDP]]"
                                columns="{{battingScorecardsTableColumns}}"
                                class="oj-sm-padding-1x oj-sm-12"
                                columns-default.sortable="disabled"
                                columns-default.header-style="background-color: #b2d0f6; border-radius: 3px;">
                      </oj-table>
                      <oj-table data="[[item.data.bowlersDP]]"
                                columns="{{bowlingScorecardsTableColumns}}"
                                class="oj-sm-padding-1x oj-sm-12"
                                columns-default.sortable="disabled"
                                columns-default.header-style="background-color: #b2d0f6; border-radius: 3px;">

                      </oj-table>
                    </oj-c-list-item-layout>
                  </li>
                </template>            
                <template slot="noData">
                  <div class="oj-flex oj-sm-flex-direction-column oj-sm-width-full">
                    <span class="oj-sm-padding-2x oj-typography-body-xl">Scores unavailable for this match.</span>
                
                  </div>
                </template>
              </oj-c-list-view>
            </oj-collapsible>
        </div>  
      </div>
      <div slot="header">
        <h5><oj-bind-text value=[[currMatchName]]></oj-bind-text> </h5>
      </div>
    </oj-dialog>



</div>
