<div class="oj-sm-padding-5x-start">
  
  <div class="oj-flex-bar oj-sm-padding-1x-start oj-sm-margin-5x-bottom">
      <div class="oj-flex-bar-start oj-sm-align-items-center">
          <oj-button display="all" on-oj-action="[[goBackToPlayersPage]]">
              <span slot="startIcon" class="oj-ux-ico-arrow-left-alt"></span>
              Back
          </oj-button>
      </div>
      <div class="oj-flex-item oj-sm-6 oj-flex-bar-middle oj-sm-align-items-center  oj-sm-flex-direction-column">
          <h5><oj-bind-text value=[[currentPlayerName]]></oj-bind-text> </h5>
      </div>
  </div>

  <div class="oj-flex">
    
  </div>




</div>