<div class="oj-sm-padding-2x-start">
  
  <div class="oj-flex-bar oj-sm-padding-5x-start oj-sm-margin-5x-bottom">
      <div class="oj-flex-bar-start oj-sm-align-items-center">
          <oj-c-button display="all" label="Back"
                    on-oj-action="[[goBackToPlayersPage]]">
              <span slot="startIcon" class="oj-ux-ico-arrow-left-alt"></span>
          </oj-c-button>
      </div>
      <div class="oj-flex-item oj-sm-6 oj-flex-bar-middle oj-sm-align-items-center  oj-sm-flex-direction-column">
          <h5><oj-bind-text value=[[currentPlayerName]]></oj-bind-text> </h5>
      </div>
  </div>

  <div class="oj-flex">  
    <oj-drawer-layout start-opened="{{drawerOpened}}" style="min-height: 70vh;">
            <div style="padding-bottom: 1rem">
              <oj-c-button class="oj-button-md"
                         display="icons"  label="Menu"
                         on-oj-action="[[drawerToggle]]">
                <span slot="startIcon" class="oj-ux-ico-menu"></span>
              </oj-c-button>
            </div>
        <div slot="start" class="oj-color-invert player-details-drawer-start">
            <div class="player-details-drawer-header">
              <div>
                <h6>Choose one</h6>
              </div>
            </div>
            <oj-navigation-list selection="{{drawerNavSelection}}">
              <ul>
                <li id="basic"><a href="#">Overview</a></li>
                <li id="batting"><a href="#">Batting</a></li>
                <li id="bowling"><a href="#">Bowling</a></li>
              </ul>
            </oj-navigation-list>
        </div>
    </oj-drawer-layout>

    <oj-bind-if test="[[drawerNavSelection() == 'basic']]">
        <div class="oj-flex-item oj-sm-padding-3x">
            <div class="oj-flex">
                <div class="oj-sm-7 oj-panel oj-panel-shadow-sm oj-sm-padding-5x-start">
                    <div class="oj-sm-padding-1x-vertical oj-typography-subheading-sm">Info</div>
                    <oj-form-layout columns="2" max-columns="3" direction="row"
                                readonly="true" label-edge="top"
                                user-assistance-density="reflow">
                        <oj-input-text id="name" value="{{currentPlayerInfo().name}}"
                                disabled="false" label-hint="Name"
                                style="font-size: larger;">
                        </oj-input-text>
                        <oj-input-text id="common-name" value="{{currentPlayerInfo().commonName}}"
                                disabled="false" label-hint="Common Name"
                                style="font-size: larger;">
                        </oj-input-text>
                        <oj-input-text id="country" value="{{currentPlayerInfo().country}}"
                                disabled="false" label-hint="Country"
                                style="font-size: larger;">
                        </oj-input-text>
                        <oj-input-text id="role" value="{{currentPlayerInfo().role}}"
                                disabled="false" label-hint="Role"
                                style="font-size: larger;">
                        </oj-input-text>
                        <oj-input-text id="bat-style" value="{{currentPlayerInfo().batStyle}}"
                                disabled="false" label-hint="Batting Style"
                                style="font-size: larger;">
                        </oj-input-text>
                        <oj-input-text id="bowl-style" value="{{currentPlayerInfo().bowlStyle}}"
                                disabled="false" label-hint="Bowling Style"
                                style="font-size: larger;">
                        </oj-input-text>
                    </oj-form-layout>
                </div>
                <div class="oj-sm-1"></div>
                <div class="oj-sm-4 oj-panel oj-panel-shadow-sm ">
                    <div class="oj-sm-padding-1x-vertical oj-typography-subheading-sm">Teams</div>
                    <oj-c-list-view data="[[currentPlayerTeams]]" gridlines.item="visible"
                                class="oj-sm-padding-2x-vertical"
                                style="max-width: 31.25rem;">
                        <template slot="itemTemplate" data-oj-as="item">
                            <li><oj-c-list-item-layout >
                                <div slot="leading">
                                    <span :id="[[item.data.id]]" class="oj-badge oj-typography-body-lg" style="width:20rem;height: 2rem;">
                                        <oj-bind-text value="[[item.data.name]]"></oj-bind-text>
                                    </span>
                                </div>
                            </oj-c-list-item-layout></li>
                        </template>
                        <template slot="noData">
                            <p class="oj-typography-body-lg">Never Played in IPL</p>
                        </template>
                    </oj-c-list-view>
                </div>
            </div>
            <div class="oj-sm-padding-3x-vertical oj-typography-subheading-md">Career</div>
            <div class="oj-panel oj-panel-shadow-sm oj-sm-padding-5x-start">
                <div class="oj-sm-padding-1x-vertical oj-typography-subheading-sm">Batting</div>
                <oj-waterfall-layout id="waterfall" class="demo-waterfall"
                                    data="[[playerBattingWfDP]]">
                    <template slot="itemTemplate" data-oj-as="item">
                        <oj-action-card class="oj-sm-only-width-4/5">
                            <div class="oj-flex oj-sm-flex-direction-column oj-sm-align-items-center  demo-profile-card-layout-inner">
                                <div class="demo-profile-card-layout-emp-name">
                                    <span class="oj-badge oj-badge-info">
                                        <oj-bind-text value="[[item.data.name]]"></oj-bind-text>
                                    </span>
                                </div>
                                <oj-c-avatar class="demo-profile-card-layout-emp-image"
                                            size="[[item.data.avatarSize]]" shape="[[item.data.avatarShape]]" 
                                            background="[[item.data.avatarBg]]"
                                            initials="[[item.data.value]]">
                                </oj-c-avatar>
                            </div>
                        </oj-action-card>
                    </template>
                </oj-waterfall-layout>  
            </div>
            <div class="oj-sm-padding-3x-vertical"> </div>
            <div class="oj-panel oj-panel-shadow-sm oj-sm-padding-5x-start">
                <div class="oj-sm-padding-1x-vertical oj-typography-subheading-sm">Bowling</div>
                <oj-waterfall-layout id="waterfall" class="demo-waterfall"
                                    data="[[playerBowlingWfDP]]">
                    <template slot="itemTemplate" data-oj-as="item">
                        <oj-action-card class="oj-sm-only-width-4/5">
                            <div class="oj-flex oj-sm-flex-direction-column oj-sm-align-items-center  demo-profile-card-layout-inner">
                                <div class="demo-profile-card-layout-emp-name">
                                    <span class="oj-badge oj-badge-success">
                                        <oj-bind-text value="[[item.data.name]]"></oj-bind-text>
                                    </span>
                                </div>
                                <oj-c-avatar class="demo-profile-card-layout-emp-image"
                                            size="[[item.data.avatarSize]]" shape="[[item.data.avatarShape]]" 
                                            background="[[item.data.avatarBg]]"
                                            initials="[[item.data.value]]">
                                </oj-c-avatar>
                            </div>
                        </oj-action-card>
                    </template>
                </oj-waterfall-layout>  
            </div>
        </div>
    </oj-bind-if>
    <oj-bind-if test="[[drawerNavSelection() == 'batting']]">
        <div class="oj-flex-item oj-sm-padding-3x">
            
           
        </div>
    </oj-bind-if>
    <oj-bind-if test="[[drawerNavSelection() == 'bowling']]">    
        <div class="oj-flex-item">
            <oj-bind-text value="[[currentPlayerInfo().bowlStyle]]"></oj-bind-text>
        </div>
    </oj-bind-if>
  </div>


  <oj-st-scroll-to-top></oj-st-scroll-to-top>

</div>
