<div class="oj-sm-padding-2x-start">
  
  <div class="oj-flex-bar oj-sm-margin-5x-bottom">
      <div class="oj-flex-bar-start oj-sm-align-items-center">
          <oj-c-button display="all" label="Back"
                    on-oj-action="[[goBackToPlayersPage]]">
              <span slot="startIcon" class="oj-ux-ico-arrow-left-alt"></span>
          </oj-c-button>
      </div>
      <div class="oj-flex-item oj-sm-6 oj-flex-bar-middle oj-sm-align-items-center  oj-sm-flex-direction-column">
          <h5><oj-bind-text value=[[currentPlayerName]]></oj-bind-text> </h5>
      </div>
  </div>

  <div class="">  
    <oj-drawer-layout start-opened="{{drawerOpened}}" style="min-height: 70vh;">
            <div style="padding-bottom: 1rem" id="drawerOpenButtonDiv">
              <oj-c-button class="oj-button-md"
                         display="icons"  label="Menu"
                         on-oj-action="[[drawerOpen]]">
                <span slot="startIcon" class="oj-ux-ico-menu"></span>
              </oj-c-button>
            </div>
        <div slot="start" class="oj-color-invert player-details-drawer-start">
            <div class="oj-flex-bar player-details-drawer-header">
              <div class="oj-flex-bar-start">
                <h6>Choose one</h6>
              </div>
              <div class="oj-flex-bar-end">
                    <oj-c-button class="oj-button-sm" label="close" chroming="borderless"
                        on-oj-action="[[onDrawerNavSelection]]" display="icons">
                        <span slot="startIcon" class="oj-ux-ico-close"> </span>
                    </oj-c-button>
               </div>
            </div>
            <oj-navigation-list selection="{{drawerNavSelection}}"
                    on-selection-changed="[[onDrawerNavSelection]]">
              <ul>
                <li id="overview"><a href="#">Overview</a></li>
                <li id="batting"><a href="#">Batting</a></li>
                <li id="bowling"><a href="#">Bowling</a></li>
              </ul>
            </oj-navigation-list>
        </div>
        <div>
            <oj-bind-if test="[[drawerNavSelection() == 'overview']]">
                <div class="oj-flex-item oj-sm-padding-3x-horizontal">
                    <div class="oj-flex">
                        <div class="oj-sm-4 oj-panel oj-sm-margin-2x-horizontal oj-panel-shadow-sm oj-sm-padding-5x-start">
                            <div class="oj-sm-padding-1x-vertical oj-typography-subheading-sm">Info</div>
                            <oj-form-layout columns="2" max-columns="3" direction="row"
                                        readonly="true" label-edge="top"
                                        user-assistance-density="reflow">
                                <oj-c-input-text id="name" value="{{currentPlayerInfo().name}}"
                                        disabled="false" label-hint="Name"
                                        style="font-size: larger;">
                                </oj-c-input-text>
                                <oj-c-input-text id="common-name" value="{{currentPlayerInfo().commonName}}"
                                        disabled="false" label-hint="Common Name"
                                        style="font-size: larger;">
                                </oj-c-input-text>
                                <oj-c-input-text id="country" value="{{currentPlayerInfo().country}}"
                                        disabled="false" label-hint="Country"
                                        style="font-size: larger;">
                                </oj-c-input-text>
                                <oj-c-input-text id="role" value="{{currentPlayerInfo().role}}"
                                        disabled="false" label-hint="Role"
                                        style="font-size: larger;">
                                </oj-c-input-text>
                                <oj-c-input-text id="bat-style" value="{{currentPlayerInfo().batStyle}}"
                                        disabled="false" label-hint="Batting Style"
                                        style="font-size: larger;">
                                </oj-c-input-text>
                                <oj-c-input-text id="bowl-style" value="{{currentPlayerInfo().bowlStyle}}"
                                        disabled="false" label-hint="Bowling Style"
                                        style="font-size: larger;">
                                </oj-c-input-text>
                            </oj-form-layout>
                        </div>
                        <div class="oj-sm-3 oj-panel oj-sm-margin-2x-horizontal oj-panel-shadow-sm" style="overflow: hidden;">
                            <img :alt=[[currentPlayerName]] :src="[[photoSrc]]" style="width: 100%; height: 100%; object-fit: cover;" />
                        </div>
                        <div class="oj-sm-4 oj-panel oj-sm-margin-2x-horizontal oj-panel-shadow-sm ">
                            <div class="oj-sm-padding-1x-vertical oj-typography-subheading-sm">Teams</div>
                            <oj-c-list-view data="[[currentPlayerTeams]]" gridlines.item="visible"
                                        class="oj-sm-padding-2x-vertical"
                                        style="max-width: 31.25rem;">
                                <template slot="itemTemplate" data-oj-as="item">
                                    <li><oj-c-list-item-layout >
                                        <div slot="leading">
                                            <span :id="[[item.data.id]]" class="oj-badge oj-typography-body-lg" style="width:20rem;height: 2rem;">
                                                <oj-bind-text value="[[item.data.name]]"></oj-bind-text>
                                            </span>
                                        </div>
                                    </oj-c-list-item-layout></li>
                                </template>
                                <template slot="noData">
                                    <p class="oj-typography-body-lg">Never Played in IPL</p>
                                </template>
                            </oj-c-list-view>
                        </div>
                    </div>
                    <div class="oj-sm-padding-3x-vertical oj-typography-subheading-md">Career</div>
                    <div class="oj-panel oj-panel-shadow-sm oj-sm-padding-5x-start">
                        <div class="oj-sm-padding-1x-vertical oj-typography-subheading-sm">Batting</div>
                        <oj-waterfall-layout id="waterfall" class="demo-waterfall"
                                            data="[[playerBattingWfDP]]">
                            <template slot="itemTemplate" data-oj-as="item">
                                <oj-action-card class="oj-sm-only-width-4/5">
                                    <div class="oj-flex oj-sm-flex-direction-column oj-sm-align-items-center  demo-profile-card-layout-inner">
                                        <div class="demo-profile-card-layout-emp-name">
                                            <span class="oj-badge oj-badge-success">
                                                <oj-bind-text value="[[item.data.name]]"></oj-bind-text>
                                            </span>
                                        </div>
                                        <oj-c-avatar class="demo-profile-card-layout-emp-image"
                                                    size="[[item.data.avatarSize]]" shape="[[item.data.avatarShape]]" 
                                                    background="[[item.data.avatarBg]]"
                                                    initials="[[item.data.value]]">
                                        </oj-c-avatar>
                                    </div>
                                </oj-action-card>
                            </template>
                        </oj-waterfall-layout>  
                    </div>
                    <div class="oj-sm-padding-3x-vertical"> </div>
                    <div class="oj-panel oj-panel-shadow-sm oj-sm-padding-5x-start">
                        <div class="oj-sm-padding-1x-vertical oj-typography-subheading-sm">Bowling</div>
                        <oj-waterfall-layout id="waterfall" class="demo-waterfall"
                                            data="[[playerBowlingWfDP]]">
                            <template slot="itemTemplate" data-oj-as="item">
                                <oj-action-card class="oj-sm-only-width-4/5">
                                    <div class="oj-flex oj-sm-flex-direction-column oj-sm-align-items-center  demo-profile-card-layout-inner">
                                        <div class="demo-profile-card-layout-emp-name">
                                            <span class="oj-badge oj-badge-success">
                                                <oj-bind-text value="[[item.data.name]]"></oj-bind-text>
                                            </span>
                                        </div>
                                        <oj-c-avatar class="demo-profile-card-layout-emp-image"
                                                    size="[[item.data.avatarSize]]" shape="[[item.data.avatarShape]]" 
                                                    background="[[item.data.avatarBg]]"
                                                    initials="[[item.data.value]]">
                                        </oj-c-avatar>
                                    </div>
                                </oj-action-card>
                            </template>
                        </oj-waterfall-layout>  
                    </div>
                </div>
            </oj-bind-if>
            <oj-bind-if test="[[drawerNavSelection() == 'batting']]">
                <div class="oj-flex-item oj-sm-padding-3x-horizontal">
                    <div class="oj-flex oj-sm-padding-3x-bottom">
                        <div>
                            <oj-radioset value="{{selectedStrengthsOption}}" class="oj-choice-direction-row"
                                    labelled-by="mainlabelid">
                                <oj-option value="strengths">Strengths</oj-option>
                                <oj-option value="highlights">Highlights</oj-option>
                                <oj-option value="scores">Scores</oj-option>
                            </oj-radioset>
                        </div>
                    </div>
                    <oj-bind-if test="[[selectedStrengthsOption() === 'highlights']]"> 
                        <div class="oj-flex oj-sm-padding-3x-top">
                            <div class="oj-panel oj-sm-5 oj-sm-margin-3x zoomable-div"> 
                                <div class="chart-title">Fours highlights</div>
                                <img alt="fours" class="highlights-image" 
                                :src="[[foursHighlightsImageSrc]]" />
                            </div>
                            <div class="oj-sm-1"></div>
                            <div class="oj-panel oj-sm-5 oj-sm-margin-3x zoomable-div"> 
                                <div class="chart-title">Sixes highlights</div>
                                <img alt="sixes" class="highlights-image" 
                                      :src="[[sixesHighlightsImageSrc]]" />
                            </div>
                        </div>
                    </oj-bind-if>
                    <oj-bind-if test="[[selectedStrengthsOption() === 'strengths']]"> 
                        <div class="oj-flex oj-sm-12 oj-sm-padding-3x-bottom">
                            <div class="oj-panel oj-sm-margin-2x-horizontal oj-sm-1 oj-flex oj-sm-align-items-center oj-sm-justify-content-center">
                                <div class="oj-sm-text-align-center stacked-text">FOUR SCORING</div>
                              </div>
                            <div class="oj-panel oj-sm-margin-2x-horizontal oj-sm-5"> 
                                <div class="chart-title">Four Scoring - Lines</div>
                                <oj-chart class="fours-lines-chart" type="pie" data="[[batsmanStrengths4sLinesDP]]" 
                                      legend.position="bottom" 
                                      animation-on-display="auto"
                                      style-defaults.pie-inner-radius="0.4"
                                      pie-center.label="Line of ball"
                                      hover-behavior="dim">
                                    <template slot="itemTemplate" data-oj-as="item">
                                        <oj-chart-item value="[[item.data.count]]" 
                                              group-id="[[ [item.data.group] ]]"
                                              series-id="[[item.data.line]]"
                                              color="[[item.data.colour]]">
                                        </oj-chart-item>
                                    </template>
                                    <template slot="tooltipTemplate">
                                        <div class="oj-flex">
                                            <div class="oj-flex-item">
                                                <span><b><oj-bind-text value="[[$current.itemData?.line || '']]"></oj-bind-text></b></span>
                                                <br />
                                                <span><oj-bind-text value="[[$current.itemData ? 'No. of 4s: ' + $current.itemData.count : '']]"></oj-bind-text></span>
                                            </div>
                                        </div>
                                    </template>
                                </oj-chart>
                            </div>
                            <div class="oj-panel oj-sm-margin-2x-horizontal oj-sm-5"> 
                                <div class="chart-title">Four Scoring - Lengths</div>
                                <oj-chart class="fours-lengths-chart" type="pie" data="[[batsmanStrengths4sLengthsDP]]" 
                                      legend.position="bottom" 
                                      animation-on-display="auto"
                                      style-defaults.pie-inner-radius="0.4"
                                      pie-center.label="Length of ball"
                                      hover-behavior="dim">
                                    <template slot="itemTemplate" data-oj-as="item">
                                        <oj-chart-item value="[[item.data.count]]" 
                                              group-id="[[ [item.data.group] ]]"
                                              series-id="[[item.data.length]]"
                                              color="[[item.data.colour]]">
                                        </oj-chart-item>
                                    </template>
                                    <template slot="tooltipTemplate">
                                        <div class="oj-flex">
                                            <div class="oj-flex-item">
                                                <span><b><oj-bind-text value="[[$current.itemData?.length || '']]"></oj-bind-text></b></span>
                                                <br />
                                                <span><oj-bind-text value="[[$current.itemData ? 'No. of 4s: ' + $current.itemData.count : '']]"></oj-bind-text></span>
                                            </div>
                                        </div>
                                    </template>
                                </oj-chart>
                            </div>
                        </div>
                        <div class="oj-flex oj-sm-12 oj-sm-padding-3x-bottom">
                            <div class="oj-panel oj-sm-margin-2x-horizontal oj-sm-1 oj-flex oj-sm-align-items-center oj-sm-justify-content-center">
                                <div class="oj-sm-text-align-center stacked-text">SIX HITTING</div>
                              </div>
                            <div class="oj-panel oj-sm-margin-2x-horizontal oj-sm-5"> 
                                <div class="chart-title">Six Hitting - Lines</div>
                                <oj-chart class="sixes-lines-chart" type="pie" data="[[batsmanStrengths6sLinesDP]]" 
                                      legend.position="bottom" 
                                      animation-on-display="auto"
                                      style-defaults.pie-inner-radius="0.4"
                                      pie-center.label="Line of ball"
                                      hover-behavior="dim">
                                    <template slot="itemTemplate" data-oj-as="item">
                                        <oj-chart-item value="[[item.data.count]]" 
                                              group-id="[[ [item.data.group] ]]"
                                              series-id="[[item.data.line]]"
                                              color="[[item.data.colour]]">
                                        </oj-chart-item>
                                    </template>
                                    <template slot="tooltipTemplate">
                                        <div class="oj-flex">
                                            <div class="oj-flex-item">
                                                <span><b><oj-bind-text value="[[$current.itemData?.line || '']]"></oj-bind-text></b></span>
                                                <br />
                                                <span><oj-bind-text value="[[$current.itemData ? 'No. of 6s: ' + $current.itemData.count : '']]"></oj-bind-text></span>
                                            </div>
                                        </div>
                                    </template>
                                </oj-chart>
                            </div>
                            <div class="oj-panel oj-sm-margin-2x-horizontal oj-sm-5"> 
                                <div class="chart-title">Six Hitting - Lengths</div>
                                <oj-chart class="sixes-lengths-chart" type="pie" data="[[batsmanStrengths6sLengthsDP]]" 
                                      legend.position="bottom" 
                                      animation-on-display="auto"
                                      style-defaults.pie-inner-radius="0.4"
                                      pie-center.label="Length of ball"
                                      hover-behavior="dim">
                                    <template slot="itemTemplate" data-oj-as="item">
                                        <oj-chart-item value="[[item.data.count]]" 
                                              group-id="[[ [item.data.group] ]]"
                                              series-id="[[item.data.length]]"
                                              color="[[item.data.colour]]">
                                        </oj-chart-item>
                                    </template>
                                    <template slot="tooltipTemplate">
                                        <div class="oj-flex">
                                            <div class="oj-flex-item">
                                                <span><b><oj-bind-text value="[[$current.itemData?.length || '']]"></oj-bind-text></b></span>
                                                <br />
                                                <span><oj-bind-text value="[[$current.itemData ? 'No. of 6s: ' + $current.itemData.count : '']]"></oj-bind-text></span>
                                            </div>
                                        </div>
                                    </template>
                                </oj-chart>
                            </div>
                        </div>
                        <div class="oj-flex oj-sm-12 oj-sm-padding-3x-bottom">
                            <div class="oj-panel oj-sm-margin-2x-horizontal oj-sm-1 oj-flex oj-sm-align-items-center oj-sm-justify-content-center">
                                <div class="oj-sm-text-align-center stacked-text">GETTING OUT</div>
                              </div>
                            <div class="oj-panel oj-sm-margin-2x-horizontal oj-sm-5"> 
                                <div class="chart-title">Getting Out - Lines</div>
                                <oj-chart class="outs-lines-chart" type="pie" data="[[batsmanStrengthsOutsLinesDP]]" 
                                      legend.position="bottom" 
                                      animation-on-display="auto"
                                      style-defaults.pie-inner-radius="0.4"
                                      pie-center.label="Line of ball"
                                      hover-behavior="dim">
                                    <template slot="itemTemplate" data-oj-as="item">
                                        <oj-chart-item value="[[item.data.count]]" 
                                              group-id="[[ [item.data.group] ]]"
                                              series-id="[[item.data.line]]"
                                              color="[[item.data.colour]]">
                                        </oj-chart-item>
                                    </template>
                                    <template slot="tooltipTemplate">
                                        <div class="oj-flex">
                                            <div class="oj-flex-item">
                                                <span><b><oj-bind-text value="[[$current.itemData?.line || '']]"></oj-bind-text></b></span>
                                                <br />
                                                <span><oj-bind-text value="[[$current.itemData ? 'No. of Outs: ' + $current.itemData.count : '']]"></oj-bind-text></span>
                                            </div>
                                        </div>
                                    </template>
                                </oj-chart>
                            </div>
                            <div class="oj-panel oj-sm-margin-2x-horizontal oj-sm-5"> 
                                <div class="chart-title">Getting Out- Lengths</div>
                                <oj-chart class="outs-lengths-chart" type="pie" data="[[batsmanStrengthsOutsLengthsDP]]" 
                                      legend.position="bottom" 
                                      animation-on-display="auto"
                                      style-defaults.pie-inner-radius="0.4"
                                      pie-center.label="Length of ball"
                                      hover-behavior="dim">
                                    <template slot="itemTemplate" data-oj-as="item">
                                        <oj-chart-item value="[[item.data.count]]" 
                                              group-id="[[ [item.data.group] ]]"
                                              series-id="[[item.data.length]]"
                                              color="[[item.data.colour]]">
                                        </oj-chart-item>
                                    </template>
                                    <template slot="tooltipTemplate">
                                        <div class="oj-flex">
                                            <div class="oj-flex-item">
                                                <span><b><oj-bind-text value="[[$current.itemData?.length || '']]"></oj-bind-text></b></span>
                                                <br />
                                                <span><oj-bind-text value="[[$current.itemData ? 'No. of Outs: ' + $current.itemData.count : '']]"></oj-bind-text></span>
                                            </div>
                                        </div>
                                    </template>
                                </oj-chart>
                            </div>
                        </div>

                    </oj-bind-if>
                   
                </div>
            </oj-bind-if>
            <oj-bind-if test="[[drawerNavSelection() == 'bowling']]">    
                <div class="oj-flex-item">
                    <oj-bind-text value="[[currentPlayerInfo().bowlStyle]]"></oj-bind-text>
                </div>
            </oj-bind-if>
        </div>
    </oj-drawer-layout>

  </div>


  <oj-st-scroll-to-top></oj-st-scroll-to-top>

</div>
