/*
    Document   : override
    Created on : <date>
    Author     : <author>
    Description:
        This is where any of your application specific styles should be included
*/

.sendOffScreen {
  position: absolute;
  left: -10000px;
  top: auto;
  width: 1px;
  height: 1px;
  overflow: hidden;
}

.demo-oracle-icon {
  width:137px;
  height:18px
}

.demo-oracle-icon:before {
  content:url("images/oracle_logo.svg")
}

html:not([dir="rtl"]) .demo-oracle-icon {
  padding-right:4px
}

html[dir="rtl"] .demo-oracle-icon {
  padding-left:4px
}

.demo-oracle-icon:before {
  display:inline
}

.demo-appheader-avatar {
  width:24px;
  height:24px
}

.demo-appheader-avatar:before {
  content:url("images/avatar_24px.png")
}
@media (-webkit-min-device-pixel-ratio: 1.5), (min-resolution: 144dpi), (min-resolution: 1.5dppx) {
  .demo-appheader-avatar:before {
      content:url("images/avatar_24px_2x.png");
      -webkit-transform:translate(-25%, -25%) scale(0.5);
      transform:translate(-25%, -25%) scale(0.5)
  }
}
li{
  list-style-type: none;
}

/*  custom css */

.landing-page-bg{
  background-image: url("images/3456.png");
  background-size: 100% 100%;
  /* background-attachment: fixed; */
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  opacity: 0.75;
  min-height: 500px;
}



#appn-header-bg-image-div{
  background-size: 100% 100%;
}

#appn-header{
  background-color: #061931;
  margin: 10px;
}



#appn-title{
  /* The Cover Drive Zone */

  font-family: 'Rock Salt'; 
  font-style: oblique;
  font-weight: 400;
  font-size: 64px;
  line-height: 64px;
  display: flex;
  align-items: center;
  text-align: center;
  color: #F5F5F5;
}

#appn-caption{
  /* Studying a funny Game... */
  font-family: 'Satisfy';
  font-style: oblique;
  font-weight: 400;
  font-size: 24px;
  line-height: 30px;
  display: flex;
  align-items: center;
  text-align: center;
  color: #F5F5F5;
}

#appn-logo{
  src: url(images/logo-circle.png);
}

.tab-header{
  font-family:Georgia, 'Times New Roman', Times, serif;
  font-size:x-large;
  font-style: normal;
}

#details-dialog{
  height: auto;
  width: 1200px;
  min-width: 200px;
  max-width: 100vw - 3rem;
  max-height: 100vh - 3rem;
}

.scores-table-header{
  background-color: #b2d0f6;
}

.scores-header{
  background-color: #061931;
  color: #ffffff;
  border-radius: 8px;
}

.pagination {
  display: flex;
  justify-content: center;
  list-style: none;
  padding: 0;
}
.pagination li {
  margin: 0 5px;
}
.pagination li a {
  text-decoration: none;
  padding: 5px 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  cursor: pointer; /* Add cursor style */
}
.pagination li.active a {
  background-color: #061931;
  color: #fff;
  border: 1px solid #061931;
}
ul#matches-pagination li a.active-page {
  background-color: #061931;
  color: white;
  border: 1px solid #061931;
}
