/*
    Document   : override
    Created on : <date>
    Author     : <author>
    Description:
        This is where any of your application specific styles should be included
*/

.sendOffScreen {
  position: absolute;
  left: -10000px;
  top: auto;
  width: 1px;
  height: 1px;
  overflow: hidden;
}

.demo-oracle-icon {
  width:137px;
  height:18px
}

.demo-oracle-icon:before {
  content:url("images/oracle_logo.svg")
}

html:not([dir="rtl"]) .demo-oracle-icon {
  padding-right:4px
}

html[dir="rtl"] .demo-oracle-icon {
  padding-left:4px
}

.demo-oracle-icon:before {
  display:inline
}

.demo-appheader-avatar {
  width:24px;
  height:24px
}

.demo-appheader-avatar:before {
  content:url("images/avatar_24px.png")
}
@media (-webkit-min-device-pixel-ratio: 1.5), (min-resolution: 144dpi), (min-resolution: 1.5dppx) {
  .demo-appheader-avatar:before {
      content:url("images/avatar_24px_2x.png");
      -webkit-transform:translate(-25%, -25%) scale(0.5);
      transform:translate(-25%, -25%) scale(0.5)
  }
}
li{
  list-style-type: none;
}

/*  custom css */

/* videos learn tab */
video::-webkit-media-controls-mute-button,
video::-webkit-media-controls-volume-slider,
video::-webkit-media-controls-current-time-display,
video::-webkit-media-controls-time-remaining-display,
video::-webkit-media-controls-timeline,
video::-webkit-media-controls-seek-back-button,
video::-webkit-media-controls-seek-forward-button,
video::-webkit-media-controls-fullscreen-button {
  display: none;
}


/*  */

.global-loader-circle {
  position: fixed;
  top: 60%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: block;
}

.landing-page-bg{
  background-image: url("images/3456.png");
  background-size: 100% 100%;
  /* background-attachment: fixed; */
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  opacity: 0.75;
  min-height: 500px;
}



#appn-header-bg-image-div{
  background-size: 100% 100%;
}

#appn-header{
  background-color: #061931;
  margin: 10px;
}

#appn-short-header{
  background-color: #061931;
  margin: 10px;
}



.appn-title{
  /* The Cover Drive Zone */
  font-family: 'Rock Salt'; 
  font-style: oblique;
  font-weight: 400;
  font-size: 64px;
  line-height: 64px;
  display: flex;
  align-items: center;
  text-align: center;
  color: #F5F5F5;
}

.appn-short-title{
  font-family: 'Rock Salt'; 
  font-style: oblique;
  font-weight: 150;
  font-size: 36px;
  line-height: 36px;
  display: flex;
  align-items: center;
  text-align: center;
  color: #F5F5F5;
}

.appn-caption{
  /* Studying a funny Game... */
  font-family: 'Satisfy';
  font-style: oblique;
  font-weight: 400;
  font-size: 24px;
  line-height: 30px;
  display: flex;
  align-items: center;
  text-align: center;
  color: #F5F5F5;
}

#appn-logo{
  src: url(images/logo-circle.png);
}

.tab-header{
  font-family:Georgia, 'Times New Roman', Times, serif;
  font-size:x-large;
  font-style: normal;
}

#details-dialog{
  /* height: auto; */
  width: 1200px;
  min-width: 1200px;
  max-width: 100vw - 2rem;
  height: 650px;
  min-height: 650px;
  max-height: 100vh - 2rem;
}

.chart-title{
  font-style: italic;
  font-family: serif;
  font-weight: bold;  
  text-align: center;
  font-size: large;
}

.scores-chart {
  height: 336px;
}

.scores-tree {
  width: 95%;
  height: 336px;
}

h1.about-header {
  /* font-family:   "montserrat-regular", sans-serif; */
  font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif  ;
  font-style: oblique;
  color: #31B6C7;
  position: relative;
  padding-bottom: 1.6rem;
  text-align: center;
}

h1.about-cricket-header{
  line-height: 1.324;
  font-size: 3.2rem;
}

h1.about-numbers-header{
  font-size: 2.1rem;
  line-height: 1.324;
}

.about-cricket [class*="col-"] {
  width: 100% !important;
  float: none !important;
  clear: both !important;
  margin-left: 0;
  margin-right: 0;
}

h1.about-header::before {
  display: block;
  content: "";
  height: 2px;
  width: 70px;
  background-color: #31B6C7;
  position: absolute;
  left: 40%;
  bottom: 0;
}

p.describe {
  font-family:Verdana, Geneva, Tahoma, sans-serif ;
  font-size: 1.2rem;
  line-height: 1.857;
  color: #838383;
  margin-bottom: 0.5rem;
}

.about-intro {
  padding-bottom: 1.6rem;
  border-bottom: 1px solid rgba(0, 0, 0, 0.07);
}

.scores-table-header{
  background-color: #b2d0f6;
}

.scores-header{
  background-color: #061931;
  color: #ffffff;
  border-radius: 8px;
  height: 3rem;
}

.pagination {
  display: flex;
  justify-content: center;
  list-style: none;
  padding: 0;
}
.pagination li {
  margin: 0 5px;
}
.pagination li a {
  text-decoration: none;
  padding: 5px 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  cursor: pointer; /* Add cursor style */
}
.pagination li.active a {
  background-color: #061931;
  color: #fff;
  border: 1px solid #061931;
}
ul#matches-pagination li a.active-page {
  background-color: #061931;
  color: white;
  border: 1px solid #061931;
  pointer-events: none;
}

.disabled-paging-button {
  pointer-events: none; /* Disable pointer events */
  color: gray; /* Change text color to indicate it's disabled */
}

.player-details-drawer-start {
  min-width: 12.5rem;
  height: 100%;
  background-color: #061931;
}
  
.player-details-drawer-header {
  display: flex;
  padding: 0.3rem 1rem 0 1rem;
  justify-content: space-between;
  align-items: center;
}

.demo-waterfall {
  /* height: calc(100vh - 0.625rem); */
  min-height: 35rem;
  min-width: 21.875rem;
}

.demo-profile-card-layout-inner {
  /* padding-top: 20px;
  padding-left: 20px; */
  padding-right: 20px;
  padding-bottom: 20px;
}

.demo-profile-card-layout-emp-name {
  overflow: hidden;
  width: 261px;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
}

.demo-profile-card-layout-emp-title {
  width: 261px;
  overflow: hidden;
  display: -webkit-box;
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;
}

.demo-profile-card-layout-emp-image {
  margin-bottom: 16px;
}

.demo-profile-card-layout-emp-spacer {
  height: 4px;
  width: 261px;
}

/* player details batting/bowling tabs */
.highlights-image{
  height: 275px;
  width: 500px;
}

.zoomable-div {
  transition: transform 0.3s ease;
  border-radius: 2rem;
}

.zoomable-div:hover {
  transform: scale(1.5);
}

/* .vertical-heading {
  writing-mode: vertical-rl;
  transform: rotate(180deg);
  font-weight: bold;
} */


.stacked-text {
  writing-mode: vertical-rl;
  text-orientation: upright;
  font-weight: bold;
  letter-spacing: 1px;
  font-size: large;
  text-align: center;
}

.stacked-text::before {
  content: attr(data-text);
  display: block;
  white-space: pre;
}



/* learn tab/page */

.carousel-wrapper {
  /* min-height: 100vh; */
}

.carousel-container {
  min-height: 80vh;
  display: flex;
  align-items: center;
  overflow: hidden;
  position: relative;
}

.carousel {
  display: flex;
  transition: transform 0.5s ease-in-out;
  padding: 0 20%;
}

.card {
  min-width: 270px;
  width: 270px;
  min-height: 350px;
  margin: 0 10px;
  padding: 20px;
  background-color: white;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  border-radius: 8px;
  flex-shrink: 0;
  transition: transform 0.5s ease-in-out, opacity 0.5s ease-in-out;
  opacity: 0.5;
  transform: scale(0.9);
  position: relative;
  z-index: 1;
}

.card.active {
  transform: scale(1.5);
  opacity: 1;
  z-index: 10;
  position: relative;
}


.prev-btn, .next-btn {
  color: white;
  border: none;
  border-radius: 50%;
  padding: 10px;
  cursor: pointer;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  z-index: 10;
}

.prev-btn {
  left: 10px;
}

.next-btn {
  right: 10px;
}

.learn-para{
  text-wrap: wrap;
  font-size: small;
}

.field-positions-image{
  height: 500px;
  width: 475px;
}
