
@import "oj/utilities/_oj.utilities.modules.scss";

// This file is where css selectors shared by all themes go.
// There will be hard code properties and properties controlled by variables, for example
//
// oj-st-scroll-to-top .oj-st-scroll-to-top-value-text {
// color: var(--oj-st-scroll-to-top-value-text-color);
// display: inline-block;
// }

// Even if this file is imported many times 'module-include-once' ensures the content is included just once .
@include module-include-once("oj-st-scroll-to-top.base") {
  oj-st-scroll-to-top:not(.oj-complete){
    visibility: hidden;
  }
  
  oj-st-scroll-to-top{
  	min-height: 50px;
  	width: 50px;
  }
}